# Managed by Ansible - danmwallace.linux.restic_backup
{% for pattern in restic_backup_excludes %}
{{ pattern }}
{% endfor %}
{% for subvolume in restic_backup_btrfs_snapshot_subvolumes %}
{{ subvolume }}/.restic-backup-snapshot
{% endfor %}
