# Managed by Ansible - danmwallace.linux.restic_backup
RESTIC_REPOSITORY={{ restic_backup_repository }}
RESTIC_PASSWORD={{ restic_backup_password }}
RESTIC_CACHE_DIR=/var/cache/restic-backup
RESTIC_BACKUP_KUMA_PUSH_URL={{ restic_backup_kuma_push_url }}
